<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="__CSS__/ratchet.min.css">
</head>
<body>
<header class="bar bar-nav">
<button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    后退
  </button>
  <button class="btn btn-link btn-nav pull-right">
    首页
    <span class="icon icon-home"></span>
  </button>
  <h1 class="title">房间列表</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item active" href="/index.php/Index/info?place={$pid}">
    <span class="icon icon-info"></span>
    <span class="tab-label">信息</span>
  </a>
  <a class="tab-item" href="/index.php/Index/photos?place={$pid}">
    <span class="icon icon-pages"></span>
    <span class="tab-label">相册</span>
  </a>
  <a class="tab-item" href="/index.php/Index/rooms?place={$pid}">
    <span class="icon icon-home"></span>
    <span class="tab-label">住宿</span>
  </a>
  <a class="tab-item" href="/index.php/Index/resturant?place={$pid}">
    <span class="icon icon-gear"></span>
    <span class="tab-label">餐饮</span>
  </a>
  <a class="tab-item" href="/index.php/Index/news?place={$pid}">
    <span class="icon icon-more"></span>
    <span class="tab-label">活动</span>
  </a>
</nav>

<div class="content">
<ul class="table-view">
  <block name="roomlist"></block>
</ul>
</div>
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/ratchet.min.js"></script>
</body>
</html>